.obrigatorio:after { 
  content:"*";
  color:red;
}


body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main{
    flex: 1;

}

.center-v{
	 padding-top: 20px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}


